.header {
    display: flex;
    height: 4rem; /* 부모와 상관없이 고정값 */
    margin-top: 1.2em;
    padding: 0.5em 1em;
    color: #444;

}

.logo {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.img {
    padding: 0.5em;
}

.input {
    flex-basis: 100%;
    font-size:1.2rem;
    outline: 0;
    border-radius: 0.4em;
    border: none;
    padding: 0.5em;
    opacity: 0.6;
}

.button {
    padding-left:1em;
    border:none; 
    box-shadow:none; 
    border-radius:0;
    cursor:pointer;
}

.buttonImg {
    height: 100%;
}